@page "/cashM"
@inject IJSRuntime JSRuntime;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;
@using MyG5Blazor.Data

@inject Menu menu
@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config
<div class="main-panel bg-home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="logo">
                    <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
            </div>

            <form class="navbar-form">
            </form>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div style="padding-left:10px;" class="col-md-6">
                    <p class="teks-title">Cash Management</p>
                    <div class="teks-top">
                        <p>Anda akan melakukan Cash Collect</p>
                        <p style="margin-bottom: 80px;">Silahkan masukkan Credential Anda untuk Validasi</p> <br>
                        @if (!isNumeric && !isUpper)
                        {

                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="q" @onclick="@(() => InsertCharField("q"))">q</button>
                                    <button class="block" value="w" @onclick="@(() => InsertCharField("w"))">w</button>
                                    <button class="block" value="e" @onclick="@(() => InsertCharField("e"))">e</button>
                                    <button class="block" value="r" @onclick="@(() => InsertCharField("r"))">r</button>
                                    <button class="block" value="t" @onclick="@(() => InsertCharField("t"))">t</button>
                                    <button class="block" value="y" @onclick="@(() => InsertCharField("y"))">y</button>
                                    <button class="block" value="u" @onclick="@(() => InsertCharField("u"))">u</button>
                                    <button class="block" value="i" @onclick="@(() => InsertCharField("i"))">i</button>
                                    <button class="block" value="o" @onclick="@(() => InsertCharField("o"))">o</button>
                                    <button class="block" value="p" @onclick="@(() => InsertCharField("p"))">p</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="a" @onclick="@(() => InsertCharField("a"))">a</button>
                                    <button class="block" value="s" @onclick="@(() => InsertCharField("s"))">s</button>
                                    <button class="block" value="d" @onclick="@(() => InsertCharField("d"))">d</button>
                                    <button class="block" value="f" @onclick="@(() => InsertCharField("f"))">f</button>
                                    <button class="block" value="g" @onclick="@(() => InsertCharField("g"))">g</button>
                                    <button class="block" value="h" @onclick="@(() => InsertCharField("h"))">h</button>
                                    <button class="block" value="j" @onclick="@(() => InsertCharField("j"))">j</button>
                                    <button class="block" value="k" @onclick="@(() => InsertCharField("k"))">k</button>
                                    <button class="block" value="l" @onclick="@(() => InsertCharField("l"))">l</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" shift="" value="shift" @onclick="UpperToggle">Shift</button>
                                    <button class="block" value="z" @onclick="@(() => InsertCharField("z"))">z</button>
                                    <button class="block" value="x" @onclick="@(() => InsertCharField("x"))">x</button>
                                    <button class="block" value="c" @onclick="@(() => InsertCharField("c"))">c</button>
                                    <button class="block" value="v" @onclick="@(() => InsertCharField("v"))">v</button>
                                    <button class="block" value="b" @onclick="@(() => InsertCharField("b"))">b</button>
                                    <button class="block" value="n" @onclick="@(() => InsertCharField("n"))">n</button>
                                    <button class="block" value="m" @onclick="@(() => InsertCharField("m"))">m</button>
                                    <button class="block" del="" value="del" @onclick="DeleteCharField">Delete</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" num="" value="num" @onclick="NumericToggle">123</button>
                                    <button class="block" space="" value="spasi" @onclick="@(() => InsertCharField("spasi"))">Spasi</button>
                                </div>
                            </div>
                        }
                        else if (isUpper)
                        {

                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="q" @onclick="@(() => InsertCharField("Q"))">Q</button>
                                    <button class="block" value="w" @onclick="@(() => InsertCharField("W"))">W</button>
                                    <button class="block" value="e" @onclick="@(() => InsertCharField("E"))">E</button>
                                    <button class="block" value="r" @onclick="@(() => InsertCharField("R"))">R</button>
                                    <button class="block" value="t" @onclick="@(() => InsertCharField("T"))">T</button>
                                    <button class="block" value="y" @onclick="@(() => InsertCharField("Y"))">Y</button>
                                    <button class="block" value="u" @onclick="@(() => InsertCharField("U"))">U</button>
                                    <button class="block" value="i" @onclick="@(() => InsertCharField("I"))">I</button>
                                    <button class="block" value="o" @onclick="@(() => InsertCharField("O"))">O</button>
                                    <button class="block" value="p" @onclick="@(() => InsertCharField("P"))">P</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="a" @onclick="@(() => InsertCharField("A"))">A</button>
                                    <button class="block" value="s" @onclick="@(() => InsertCharField("S"))">S</button>
                                    <button class="block" value="d" @onclick="@(() => InsertCharField("D"))">D</button>
                                    <button class="block" value="f" @onclick="@(() => InsertCharField("F"))">F</button>
                                    <button class="block" value="g" @onclick="@(() => InsertCharField("G"))">G</button>
                                    <button class="block" value="h" @onclick="@(() => InsertCharField("H"))">H</button>
                                    <button class="block" value="j" @onclick="@(() => InsertCharField("J"))">J</button>
                                    <button class="block" value="k" @onclick="@(() => InsertCharField("K"))">K</button>
                                    <button class="block" value="l" @onclick="@(() => InsertCharField("L"))">L</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" shift="" value="shift" @onclick="UpperToggle">Shift</button>
                                    <button class="block" value="z" @onclick="@(() => InsertCharField("Z"))">Z</button>
                                    <button class="block" value="x" @onclick="@(() => InsertCharField("X"))">X</button>
                                    <button class="block" value="c" @onclick="@(() => InsertCharField("C"))">C</button>
                                    <button class="block" value="v" @onclick="@(() => InsertCharField("V"))">V</button>
                                    <button class="block" value="b" @onclick="@(() => InsertCharField("B"))">B</button>
                                    <button class="block" value="n" @onclick="@(() => InsertCharField("N"))">N</button>
                                    <button class="block" value="m" @onclick="@(() => InsertCharField("M"))">M</button>
                                    <button class="block" del="" value="del" @onclick="DeleteCharField">Delete</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" num="" value="num" @onclick="NumericToggle">123</button>
                                    <button class="block" space="" value="spasi" @onclick="@(() => InsertCharField("spasi"))">Spasi</button>
                                </div>
                            </div>
                        }
                        else if (isNumeric)
                        {
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="q" @onclick="@(() => InsertCharField("1"))">1</button>
                                    <button class="block" value="w" @onclick="@(() => InsertCharField("2"))">2</button>
                                    <button class="block" value="e" @onclick="@(() => InsertCharField("3"))">3</button>
                                    <button class="block" value="r" @onclick="@(() => InsertCharField("4"))">4</button>
                                    <button class="block" value="t" @onclick="@(() => InsertCharField("5"))">5</button>
                                    <button class="block" value="y" @onclick="@(() => InsertCharField("6"))">6</button>
                                    <button class="block" value="u" @onclick="@(() => InsertCharField("7"))">7</button>
                                    <button class="block" value="i" @onclick="@(() => InsertCharField("8"))">8</button>
                                    <button class="block" value="o" @onclick="@(() => InsertCharField("9"))">9</button>
                                    <button class="block" value="p" @onclick="@(() => InsertCharField("0"))">0</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="a" @onclick="@(() => InsertCharField("-"))">-</button>
                                    <button class="block" value="s" @onclick="@(() => InsertCharField("/"))">/</button>
                                    <button class="block" value="d" @onclick="@(() => InsertCharField(":"))">:</button>
                                    <button class="block" value="f" @onclick="@(() => InsertCharField(";"))">;</button>
                                    <button class="block" value="g" @onclick="@(() => InsertCharField("("))">)</button>
                                    <button class="block" value="h" @onclick="@(() => InsertCharField(")"))">)</button>
                                    <button class="block" value="j" @onclick="@(() => InsertCharField("$"))">$</button>
                                    <button class="block" value="k" @onclick="@(() => InsertCharField("&"))">&#38</button>
                                    <button class="block" value="l" @onclick="@(() => InsertCharField("@"))">&#64</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" value="x" @onclick="@(() => InsertCharField("."))">.</button>
                                    <button class="block" value="c" @onclick="@(() => InsertCharField(","))">,</button>
                                    <button class="block" value="v" @onclick="@(() => InsertCharField("?"))">?</button>
                                    <button class="block" value="b" @onclick="@(() => InsertCharField("!"))">!</button>
                                    <button class="block" value="n" @onclick="@(() => InsertCharField("'"))">'</button>
                                    <button class="block" value="m" @onclick="@(() => InsertCharField("\""))">"</button>
                                    <button class="block" del="" value="del" @onclick="DeleteCharField">Delete</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                                    <button class="block" num="" value="num" @onclick="NumericToggle">abc</button>
                                    <button class="block" space="" value="spasi" @onclick="@(() => InsertCharField("spasi"))">Spasi</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <label class="teks-data2">User Name</label>
                    <input type="text" name="number" class="num-field2" @onclick="Inputfield1" placeholder="input your username" @bind="userName">
                    <label class="teks-data2">Passcode</label>
                    <input style="margin-bottom:15px;" type="password" name="number" class="num-field2" @onclick="Inputfield3" placeholder="input your passcode" @bind="passcode">
                    <button @onclick="@(()=>isVisible2=true)" class="btn-arrow btn" value="">Kembali</button>
                    <button class="btn-arrow-red btn" style="margin-top:10px;" @onclick="@CheckInputData">Collect</button>
                    <div class="col-md-12" style="margin-top:0%">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
</div>
<!-- The Modal -->
@if (IsVisible)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Anda akan melakukan pengambilan uang dari Cash Box</p>
                    <button @onclick="Save" class="btn btn-danger modal-button">Lanjut</button>
                    <button class="btn btn-light modal-button" @onclick="@(() => IsVisible=false)">Batal</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isVisible2)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Apakah Anda Ingin Kembali Ke Halaman Login?</p>
                    <button @onclick="@(()=>NavigateTo("/login"))" class="btn btn-danger modal-button">Lanjut</button>
                    <button class="btn btn-light modal-button" @onclick="@(() => isVisible2=false)">Batal</button>
                </div>
            </div>
        </div>
    </div>
}
@if (IsLoading)
{
    <div id="myModal" class="modal">
        <div class="modal-blank">
            <img class="lds-spinner" src="../../assets/image/loader.gif">
            <p><br>Mohon tunggu</p>
            <p>proses sedang berlangsung...</p>
        </div>
    </div>
}
@if (isSuccess)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Anda telah berhasil melakukan pelaporan pengambilan uang dari Cash Box</p>
                    <button class="btn btn-danger modal-button" @onclick="@(() => isSuccess=false)">Lanjut</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isAlready)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Anda pada hari ini telah melakukan pelaporan pengambilan uang dari Cash Box</p>
                    <p class="text-body">Silahkan melakukan pelaporan pengambilan uang dari Cash Box pada lain hari</p>
                    <button class="btn btn-danger modal-button" @onclick="@(() => isAlready=false)">Kembali</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isModal)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">User Name dan Passcode salah.</p>
                    <p class="text-body">Silahkan diperiksa kembali.</p>
                    <button class="btn btn-danger modal-button" @onclick="@(() => isModal=false)">Kembali</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isEmpty)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Silahkan isi User Name dan Passcode</p>
                    <button class="btn btn-danger modal-button" @onclick="@(() => isEmpty=false)">Kembali</button>
                </div>
            </div>
        </div>
    </div>
}
@code{
    private string userName = string.Empty;
    private string password = string.Empty;
    private string passcode = string.Empty;
    private bool IsVisible = false;
    private bool isVisible2 = false;
    private bool IsLoading = false;
    private bool isModal = false;
    private bool isSuccess = false;
    private bool isAlready = false;
    private bool isEmpty = false;

    private string isTextField = "1";
    private bool isUpper = false;
    private bool isNumeric = false;

    //public string _myURL = "https://mygrapari.telkomsel.co.id/trilogi/";
    public string _myURL = string.Empty;
    public string serviceURL = "cash/v1/cash-collect";
    private string _termID = string.Empty;
    private string strMsgError = string.Empty;
    private string lastDate = string.Empty;
    private string nowDate = string.Empty;

    private void CheckInputData()
    {
        if (userName == "" || passcode == "")
        {
            isEmpty = true;
        }
        else
        {
            IsVisible = true;
        }
    }
    private void DeleteCharField()
    {
        switch (isTextField)
        {
            case "1":
                if (userName.Length > 0)
                    userName = userName.Substring(0, userName.Length - 1);
                break;
            case "2":
                if (password.Length > 0)
                    password = password.Substring(0, password.Length - 1);
                break;
            case "3":
                if (passcode.Length > 0)
                    passcode = passcode.Substring(0, passcode.Length - 1);
                break;
        }
    }

    private void InsertCharField(string _input)
    {
        switch (isTextField)
        {
            case "1":
                userName += _input;
                break;
            case "2":
                password += _input;
                break;
            case "3":
                passcode += _input;
                break;
        }
    }
    private void UpperToggle()
    {
        isUpper = !isUpper;
    }
    private void NumericToggle()
    {
        isUpper = false;
        isNumeric = !isNumeric;
    }
    private void Inputfield1()
    {
        isTextField = "1";
    }

    private void Inputfield2()
    {
        isTextField = "2";
    }

    private void Inputfield3()
    {
        isTextField = "3";
    }
    protected override async Task OnInitializedAsync()
    {
        _myURL = config.Read("URL", Config.PARAM_DEFAULT_URL);
        cst.Clear();
        nowDate = DateTime.Now.Day.ToString();
        OurUtility.Write_Log("= Cash Collect", "step-action");
    }

    private void InputPhoneNumber(string strInput)
    {
        userName += strInput;
    }

    private void RemovePhoneNumber()
    {
        if (userName.Length > 0)
            userName = userName.Substring(0, userName.Length - 1);
    }

    private void NavigateTo(string strURL)
    {
        NavMan.NavigateTo(strURL);
    }
    private async Task Save()
    {
        await CheckNumber("");
        userName = string.Empty;
        passcode = string.Empty;
    }
    private async Task CheckNumber(string strURL)
    {
        lastDate = config.ReadUtil("CASH", Config.PARAM_CASH_COLLECTED);

        if (nowDate != lastDate)
        {
            IsVisible = false;
            IsLoading = true;
            string terminalId = config.Read("Terminal", Config.PARAM_MACHINE);
            string bankNotes = config.Read("BILL", Config.PARAM_BILL_BANK_STOK);
            string notesAmount = config.Read("BILL", Config.PARAM_BILL_AMOUNT);
            //Set HTTP Request Body
            string myJson = "{ \"terminalId\" : \"" + terminalId + "\"," +
        "\"token\" : \"" + passcode + "\"," +
        "\"jumlahUang\" : \"" + bankNotes + "\"," +
        "\"nominal\" : \"" + notesAmount + "\"," +
        "\"username\" : \"" + userName + "\"" +
                    "}";

            //Set HTTP Request URL
            string myURL = _myURL + serviceURL;

            OurUtility.Write_Log("== Cash Management", "step-action");
            OurUtility.Write_Log("== Request API : " + myJson, "step-action");

            //Call HTTP Request
            string strResult = await OurUtility.PostCallAPI(myURL, myJson, menu);
            OurUtility.Write_Log("== Response API : " + strResult, "step-action");

            if (strResult != null)
            {
                try
                {
                    //Parse HTTP Request Result to JObject
                    JObject jobjResult = JObject.Parse(strResult);

                    //Check If statusCode == 00 (Success)
                    if ((string)jobjResult["transaction"].SelectToken("statusCode") == "00")
                    {
                        OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"].SelectToken("statusCode") + " {Success}", "step-action");
                        IsLoading = false;
                        isSuccess = true;
                        config.Write("BILL", Config.PARAM_BILL_BANK_STOK, "0");
                        config.Write("BILL", Config.PARAM_BILL_AMOUNT, "0");
                        config.WriteUtil("CASH", Config.PARAM_CASH_COLLECTED, nowDate);
                    }

                    //Check If statusCode == 01 (Error Page)
                    else if ((string)jobjResult["transaction"].SelectToken("statusCode") == "01")
                    {
                        if ((string)jobjResult["transaction"].SelectToken("errorCode") != null)
                        {
                            OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"].SelectToken("statusDesc") + " {Error}", "step-action");
                            trans.errorCode = (string)jobjResult["transaction"].SelectToken("errorCode");
                        }
                        else
                        {
                            OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"].SelectToken("statusCode") + " {Error}", "step-action");
                            trans.errorCode = (string)jobjResult["transaction"].SelectToken("statusCode");
                        }
                        IsLoading = false;
                        NavMan.NavigateTo("/errorlogin");
                    }

                    //Check If statusCode == 02 (Error Modal)
                    else if ((string)jobjResult["transaction"].SelectToken("statusCode") == "02")
                    {
                        IsLoading = false;
                        isModal = true;
                    }
                }
                catch (Exception ex)
                {
                    OurUtility.Write_Log("== Error :" + ex.Message, "step-action");
                    NavMan.NavigateTo("/errorlogin");
                }
            }
            else
            {
                OurUtility.Write_Log("== Error : Hit WebService {Error}", "step-action");
                NavMan.NavigateTo("/errorlogin");
            }
        }
        else
        {
            IsVisible = false;
            isAlready = true;
        }
    }

    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.JSInterop.IJSRuntime theJavaScriptEngine { get; set; }

    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.AspNetCore.Components.NavigationManager theNavigationManager { get; set; }

    private bool timer = false;
    protected override void OnAfterRender(bool bFirstRender)
    {
        if (bFirstRender)
        {
            timer = true;
            theJavaScriptEngine.InvokeAsync<System.Object>("setupUserIdleTimer", new object[] { Microsoft.JSInterop.DotNetObjectReference.Create(this), 60000, true });

            this.StateHasChanged();
        }
    }

    [Microsoft.JSInterop.JSInvokable]

    public void theIdleTimeoutFired()
    {
        if (timer)
        {
            timer = false;
            //NavMan.NavigateTo(" ");
        }
    }
}