@page "/devicetest"
@inject IJSRuntime JSRuntime;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;
@using MyG5Blazor.Data
@using System.IO.Ports
@using Aratek.TrustFinger;

@inject Ektp_Data ktp
@inject Card_Dispenser cds
@inject Menu menu
@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config
@inject EDC edc

<div class="main-panel bg-home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="logo">
                    <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
            </div>


            <form class="navbar-form">
            </form>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="text-align: left;">
                    @c1
                    <button @onclick="Payment" class="btn-arrow-red btn">Payment EDC</button>
                    <button @onclick="Void" class="btn-arrow-red btn">Void EDC</button>
                    <button @onclick="BillAcceptor" class="btn-arrow-red btn">Start Bill</button>
                    <button @onclick="@(()=>loopCash=false)" class="btn-arrow-red btn">Stop Bill</button>
                    <button @onclick="MoveToTheFront" class="btn-arrow-red btn">Front</button>
                    <button @onclick="MoveToICC" class="btn-arrow-red btn">ICC</button>
                    <button @onclick="MoveToBin" class="btn-arrow-red btn">BIN</button>
                    <button @onclick="CheckEKTP" class="btn-arrow-red btn">EKTP</button>
                    <button @onclick="CheckFinger" class="btn-arrow-red btn">Finger Print</button>
                    <button @onclick="FingerPrintAratek" class="btn-arrow-red btn">Test All</button>

                    <button @onclick="PrintEDCPay" class="btn-arrow-red btn">Print Pay</button>
                    <button @onclick="PrintEDCVoid" class="btn-arrow-red btn">Print Void</button>
                    <button @onclick="PrintStruk" class="btn-arrow-red btn">Print Struk</button>
                </div>
                <div class="col-md-6" style="text-align: left;">

                    <button @onclick="@(()=>isVisible2=true)" class="btn-arrow btn" value="">Kembali</button>
                    <button @onclick="@(()=>isVisible2=true)" class="btn-arrow-red btn" value="">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
</div>

<footer>
    <div class="footer-side-left">
        <span class="dot-trans"></span>
        <span class="dot-trans"></span>
        <span class="dot-trans"></span>
        <span class="dot-trans"></span>
    </div>
    <div class="footer-side-right">
        <!-- <sup>Powered By </sup>Trilogi Persada -->
    </div>
</footer>

<!-- The Modal -->
@if (isVisible2)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Apakah Anda Ingin Kembali Ke Halaman Login?</p>
                    <button @onclick="@(()=>NavigateTo("/login"))" class="btn btn-danger modal-button">Lanjut</button>
                    <button class="btn btn-light modal-button" @onclick="@(() => isVisible2=false)">Batal</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isFPNoData)
{
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    @if (fptest == 1)
                    {
                        <p class="text-body">Silahkan tekan tombol OK setelah Anda mengangkat EKTP Anda, kemudian letakkan kembali kepada alat pemindai.</p>
                    }
                    else if (fptest == 2)
                    {
                        <p class="text-body">Maaf, Silahkan tekan tombol OK setelah Anda mengangkat EKTP Anda, kemudian letakkan kembali kepada alat pemindai.</p>
                    }
                    else if (fptest == 3)
                    {
                        <p class="text-body">Mohon tekan tombol OK setelah Anda mengangkat EKTP Anda, kemudian letakkan kembali kepada alat pemindai.</p>
                    }
                    <button class="btn btn-danger modal-button" @onclick="FP2">OK</button>
                    <!-- <button class="btn btn-light modal-button">Tidak</button> -->
                </div>
            </div>
        </div>

    </div>
}
@code{
    private string userName = string.Empty;
    private string password = string.Empty;
    private string passcode = string.Empty;
    private bool IsVisible = false;
    private bool isVisible2 = false;
    private bool IsLoading = false;

    private int pos = 7;
    private int fptest = 1;
    //public string _myURL = "https://mygrapari.telkomsel.co.id/trilogi/";
    public string _myURL = string.Empty;
    public string serviceURL = "upgrade-4g/v1/submit-nohp";
    private string _termID = string.Empty;
    private string strMsgError = string.Empty;

    private string msg = string.Empty;
    private string errorcode = string.Empty;

    private CRT_Interface ektpCRT = new CRT_Interface();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(()=> tt());
        _myURL = config.Read("URL", Config.PARAM_DEFAULT_URL);

        config.usbEKTP = config.Read("EKTP", Config.PARAM_EKTP_USB).Substring(0, 1);
        config.ektpType = config.Read("EKTP", Config.PARAM_EKTP_USB).Substring(1);
        PCID = config.Read("EKTP", Config.PARAM_EKTP_PCID);
        CONF = config.Read("EKTP", Config.PARAM_EKTP_CONF);
        pbPcid = OurUtility.StringToByteArray(OurUtility.strIns(PCID,","));
        pbConf = OurUtility.StringToByteArray(OurUtility.strIns(CONF,","));
        cst.Clear();
    }

    private void InputPhoneNumber(string strInput)
    {
        userName += strInput;
    }

    private void RemovePhoneNumber()
    {
        if (userName.Length > 0)
            userName = userName.Substring(0, userName.Length - 1);
    }

    private void NavigateTo(string strURL)
    {
        if (strURL != "")
        {
            OurUtility.Write_Log("=== Get Phone Number", "step-action");
        }
        NavMan.NavigateTo(strURL);
    }
    private async Task Save()
    {
        config.Write("Dispenser", Config.PARAM_STOCK_DISPENSER_1, userName);
        IsVisible = false;
    }
    CPayout Payout = new CPayout();
    Global global = new Global();
    int inttotal = 0;

    int reconnectionAttempts = 5;
    bool Running = false;
    private byte FindMaxProtocolVersion()
    {
        byte b = 0x06;
        while (true)
        {
            Payout.SetProtocolVersion(b);
            if (Payout.CommandStructure.ResponseData[0] == CCommands.SSP_RESPONSE_FAIL)
                return --b;
            b++;
            if (b > 12)
                return 0x06; // return default
        }
    }
    private bool IsUnitValid(char unitType)
    {
        if (unitType == (char)0x00) // 0x06 is Payout, no other types supported by this program
            return true;
        return false;
    }
    private bool ConnectToValidator(int attemps, int interval)
    {
        //reconnectionTimer.Interval = interval * 1000;
        Task.Delay(interval * 1000).GetAwaiter();
        for (int i = 0; i < attemps; i++)
        {
            Payout.SSPComms.CloseComPort();
            Payout.CommandStructure.EncryptionStatus = false;
            if (Payout.OpenComPort() && Payout.NegotiateKeys())
            {
                Payout.CommandStructure.EncryptionStatus = true;
                byte maxPVersion = FindMaxProtocolVersion();
                if (maxPVersion >= 6)
                {
                    Payout.SetProtocolVersion(maxPVersion);
                }
                else
                {
                    return false;
                }
                Payout.PayoutSetupRequest();
                if (!IsUnitValid(Payout.UnitType))
                {
                    break;
                    return false;
                }

                Payout.SetInhibits();
                Payout.GetSerialNumber();
                Payout.EnableValidator();
                Payout.EnablePayout();
                return true;
            }
        }
        return false;
    }
    bool loopCash = false;
    private async Task MainLoop()
    {
        try
        {
            Payout.CommandStructure.ComPort = global.ComPort;
            Payout.CommandStructure.SSPAddress = global.SSPAddress;
            Payout.CommandStructure.Timeout = 3000;
            Payout.HoldNumber = 0;

            if (ConnectToValidator(reconnectionAttempts, 2))
            {
                //Console.WriteLine("1");
                Running = true;
                //Payout.ConfigureBezel(0x00, 0xFF, 0x00);
            }

            while (loopCash)
            {
                await Task.Delay(1000);
                //Console.WriteLine("2");
                if (!Payout.DoPoll())
                {
                    //Console.WriteLine("Poll failed, attempting to reconnect...\r\n");
                    while (true)
                    {
                        Payout.SSPComms.CloseComPort();
                        if (ConnectToValidator(reconnectionAttempts, 2) == true)
                            break;
                        Payout.SSPComms.CloseComPort();
                        return;
                    }
                    //Console.WriteLine("Reconnected\r\n");
                }
                //Console.WriteLine("9");
                inttotal = Payout.total;
                //Console.WriteLine("inttotal = " + inttotal);
                StateHasChanged();
                // UpdateUI();
                //if(!bFormSetup)
                //{
                //}
            }

            //Console.WriteLine("10");
            Payout.DisableValidator();
            Payout.SSPComms.CloseComPort();
        }
        catch (Exception ex)
        {
            OurUtility.Write_Log("== Error :" + ex.Message, "step-action");
            trans.AddTrail("BILL ACCEPTOR", "", "01");
            return;
        }
    }
    private async Task BillAcceptor()
    {
        Payout.total = 0;
        Payout.uangCount = 0;
        int logbank = Int32.Parse(config.Read("BILL", Config.PARAM_BILL_BANK_STOK));
        int logamount = Int32.Parse(config.Read("BILL", Config.PARAM_BILL_AMOUNT));
        loopCash = true;
        await MainLoop();
        logamount = logamount + Payout.total;
        logbank = logbank + Payout.uangCount;
        config.Write("BILL", Config.PARAM_BILL_AMOUNT, logamount.ToString());
        config.Write("BILL", Config.PARAM_BILL_BANK_STOK, logbank.ToString());
    }
    private async Task Void()
    {
        //string strInvoice = "18";
        string strBilling = "2";
        string strBill = "1000";
        int MetodePembayaran = 1;
        string strCOM = "COM" + config.Read("EDC", Config.PARAM_EDC_PORT);
        await Void(strCOM, strBill, strTrace, strBilling, MetodePembayaran.ToString());
    }
    private async Task Void(string serialPortName, string tagihan, string invoice, string billing, string mPemabayaran)
    {
        string _transType = "02";
        edc.Clear();
        edc.serialPort = new SerialPort();
        edc.serialPort.PortName = serialPortName;
        edc.serialPort.DataReceived += new SerialDataReceivedEventHandler(edc.port_DataReceived);
        do
        {
            edc.SendCommand(tagihan, edc.serialPort, _transType, invoice, billing, mPemabayaran);

        } while (!edc.mre.WaitOne());
        trans.ecrVoid = edc.ecr;
        trans.edcRespVoid = trans.ecrVoid.Substring(146, 2);

        trans.edcTid = trans.ecrVoid.Substring(2, 8);
        trans.edcMid = trans.ecrVoid.Substring(10, 15);
        trans.edcBatch = trans.ecrVoid.Substring(25, 6);
        trans.edcIssuer = trans.ecrVoid.Substring(31, 15);
        trans.edcRefNo = trans.ecrVoid.Substring(46, 6);
        trans.edcTrace = trans.ecrVoid.Substring(52, 6);
        trans.edcEntryCode = trans.ecrVoid.Substring(58, 1);
        trans.edcAmount = trans.ecrVoid.Substring(59, 12);
        trans.edcTotalAmount = trans.ecrVoid.Substring(71, 12);
        trans.edcCardNo = trans.ecrVoid.Substring(83, 19);
        trans.edcCardName = trans.ecrVoid.Substring(102, 26);
        trans.edcDate = trans.ecrVoid.Substring(128, 6);
        trans.edcTime = trans.ecrVoid.Substring(134, 6);
        trans.edcApproval = trans.ecrVoid.Substring(140, 6);

        if (trans.edcRespVoid=="00")
        {
            Console.WriteLine("Void Sukses");
            string msg = string.Empty;
            string logoTsel = System.IO.Directory.GetCurrentDirectory() + @"\wwwroot\assets\image\Logo\Logo_MyGraPARI_mini.png";

            Printer.PrintEDCVoid(trans, cst, config, logoTsel, ref msg);
        }
    }
    private string strTrace = "";
    private async Task Payment()
    {
        //string strInvoice = "1";
        //string strBilling = "2";
        //string strBill = "1000";
        //int MetodePembayaran = 1;
        //string strCOM = "COM" + config.Read("EDC", Config.PARAM_EDC_PORT);
        //await Pay(strCOM, strBill, strInvoice, strBilling, MetodePembayaran.ToString());

        trans.ecr = "0106115899000100206181158000001DEBITGOLD      000011000001D000005000000000005000000537176******8170                             210115085239362841000000000000110000000000000000000000000000                   000000                                                                                        ";
        trans.edcresp = trans.ecr.Substring(146, 2);
        trans.edcTid = trans.ecr.Substring(2, 8);
        trans.edcMid = trans.ecr.Substring(10, 15);
        trans.edcBatch = trans.ecr.Substring(25, 6);
        trans.edcIssuer = trans.ecr.Substring(31, 15);
        trans.edcRefNo = trans.ecr.Substring(46, 6);
        trans.edcTrace = trans.ecr.Substring(52, 6);
        trans.edcEntryCode = trans.ecr.Substring(58, 1);
        trans.edcAmount = trans.ecr.Substring(59, 12);
        trans.edcTotalAmount = trans.ecr.Substring(71, 12);
        trans.edcCardNo = trans.ecr.Substring(83, 19);
        trans.edcCardName = trans.ecr.Substring(102, 26);
        trans.edcDate = trans.ecr.Substring(128, 6);
        trans.edcTime = trans.ecr.Substring(134, 6);
        trans.edcApproval = trans.ecr.Substring(140, 6);
    }

    private async Task Pay(string serialPortName, string tagihan, string invoice, string billing, string mPemabayaran)
    {
        try
        {
            OurUtility.Write_Log("== Device Test EDC", "step-action");
            string _transType = "01";
            //cst.intTagihanTerbayar = intBill;
            edc.Clear();
            edc.serialPort = new SerialPort();
            edc.serialPort.PortName = serialPortName;
            //edc.serialPort.DataReceived += new SerialDataReceivedEventHandler(edc.port_DataReceived);
            do
            {
                edc.SendCommand(tagihan, edc.serialPort, _transType, invoice, billing, mPemabayaran);

                //edc.mre.WaitOne();
            } while (!edc.mre.WaitOne());
            //} while (edc.intTry < 3);
            trans.ecr = edc.ecr;
            trans.edcresp = trans.ecr.Substring(146,2);
            trans.edcTid = trans.ecr.Substring(2, 8);
            trans.edcMid = trans.ecr.Substring(10, 15);
            trans.edcBatch = trans.ecr.Substring(25, 6);
            trans.edcIssuer = trans.ecr.Substring(31, 15);
            trans.edcRefNo = trans.ecr.Substring(46, 6);
            trans.edcTrace = trans.ecr.Substring(52, 6);
            trans.edcEntryCode = trans.ecr.Substring(58, 1);
            trans.edcAmount = trans.ecr.Substring(59, 12);
            trans.edcTotalAmount = trans.ecr.Substring(71, 12);
            trans.edcCardNo = trans.ecr.Substring(83, 19);
            trans.edcCardName = trans.ecr.Substring(102, 26);
            trans.edcDate = trans.ecr.Substring(128, 6);
            trans.edcTime = trans.ecr.Substring(134, 6);
            trans.edcApproval = trans.ecr.Substring(140, 6);
            strTrace = trans.edcTrace;

            if(trans.edcresp=="00")
            {
                Console.WriteLine("Pay Sukses");
                string msg = string.Empty;
                string logoTsel = System.IO.Directory.GetCurrentDirectory() + @"\wwwroot\assets\image\Logo\Logo_MyGraPARI_mini.png";
                Printer.PrintEDCPay(trans, cst, config, logoTsel, ref msg);

            }
            //(trans.edcresp);
        }
        catch (Exception ex)
        {
            //Console.WriteLine(ex.Message);
        }
    }
    private async Task CheckNumber(string strURL)
    {

        //Set HTTP Request Body
        string myJson = "{ \"terminalId\" : \"" + trans.termID + "\"" +
                        "}";

        //Set HTTP Request URL
        string myURL = _myURL + serviceURL;

        OurUtility.Write_Log("== Check Phone Number", "step-action");
        //OurUtility.Write_Log("== Request API : " + myJson, "step-action");

        //Call HTTP Request
        string strResult = await OurUtility.PostCallAPI(myURL, myJson, menu);
        ////OurUtility.Write_Log("== Response API : " + strResult, "step-action");

        if (strResult != "")
        {
            try
            {
                //Parse HTTP Request Result to JObject
                JObject jobjResult = JObject.Parse(strResult);

                //Check If statusCode == 00 (Success)
                if ((string)jobjResult["transaction"]["statusCode"] == "00")
                {
                    OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"]["statusCode"] + " {Success}", "step-action");
                }

                //Check If statusCode == 01 (Error Page)
                else if ((string)jobjResult["transaction"]["statusCode"] == "01")
                {
                    NavMan.NavigateTo("/error");
                }

                //Check If statusCode == 02 (Error Modal)
                else if ((string)jobjResult["transaction"]["statusCode"] == "02")
                {

                }
            }
            catch (Exception ex)
            {
                OurUtility.Write_Log("== Error :" + ex.Message, "step-action");
                NavMan.NavigateTo("/error");
            }
        }
        else
        {
            OurUtility.Write_Log("== Error : Hit WebService {Error}", "step-action");
            NavMan.NavigateTo("/error");
        }
    }

    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.JSInterop.IJSRuntime theJavaScriptEngine { get; set; }

    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.AspNetCore.Components.NavigationManager theNavigationManager { get; set; }

    private bool timer = false;
    protected override void OnAfterRender(bool bFirstRender)
    {
        if (bFirstRender)
        {
            timer = true;
            theJavaScriptEngine.InvokeAsync<System.Object>("setupUserIdleTimer", new object[] { Microsoft.JSInterop.DotNetObjectReference.Create(this), 60000, true });

            this.StateHasChanged();
        }
    }

    private void MoveToICC()
    {
        string strCOM = "COM" + config.Read("Dispenser", Config.PARAM_DEVICE_DISPENSER);
        //int stock = Int32.Parse(config.Read("Dispenser", Config.PARAM_STOCK_DISPENSER_1));

        //OurUtility.Write_Log("=== Card Dispenser Move To IC Position", "step-action");
        //OurUtility.Write_Log("==== 1. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
        //OurUtility.Write_Log("==== 2. Card_Dispenser.Start", "step-action");
        if (!cds.Start(ref errorcode, strCOM, ref msg))
        {
            //OurUtility.Write_Log("==== 3. Card_Dispenser.Start, Failed " + errorcode + "message: " + msg, "step-action");
            return;
        }
        //OurUtility.Write_Log("==== 3. Card_Dispenser.Initialize", "step-action");
        cds.Initialize(ref errorcode, ref msg);
        //OurUtility.Write_Log("==== 4. Card_Dispenser.MoveTo_ICC_Card", "step-action");
        if (!cds.MoveTo_IC_Card(ref errorcode, ref msg))
        {
            //OurUtility.Write_Log("==== 4. Card_Dispenser.MoveTo_ICC_Card, Failed " + errorcode + " message : " + msg, "step-action");
            return;
        }
        //OurUtility.Write_Log("==== 5. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
        return;
    }

    private void MoveToBin()
    {
        string strCOM = "COM" + config.Read("Dispenser", Config.PARAM_DEVICE_DISPENSER);
        int stock = Int32.Parse(config.Read("Dispenser", Config.PARAM_STOCK_DISPENSER_1));

        //OurUtility.Write_Log("=== Card Dispenser Move To Bin Position", "step-action");
        //OurUtility.Write_Log("==== 1. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
        //OurUtility.Write_Log("==== 2. Card_Dispenser.Start", "step-action");
        if (!cds.Start(ref errorcode, strCOM, ref msg))
        {
            //OurUtility.Write_Log("==== 3. Card_Dispenser.Start, Failed", "step-action");
            return;
        }
        //OurUtility.Write_Log("==== 3. Card_Dispenser.Initialize", "step-action");
        cds.Initialize(ref errorcode, ref msg);
        //OurUtility.Write_Log("==== 4. Card_Dispenser.MoveTo_Bin", "step-action");
        cds.MoveTo_Bin(ref errorcode, ref msg);

        stock = stock - 1;
        trans.jumlah_kartu = stock;
        config.Write("Dispenser", Config.PARAM_STOCK_DISPENSER_1, trans.jumlah_kartu.ToString());

        //OurUtility.Write_Log("==== 5. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
    }
    private void MoveToTheFront()
    {
        string strCOM = "COM" + config.Read("Dispenser", Config.PARAM_DEVICE_DISPENSER);
        int stock = Int32.Parse(config.Read("Dispenser", Config.PARAM_STOCK_DISPENSER_1));
        //OurUtility.Write_Log("=== Card Dispenser Move To The Front Position", "step-action");
        //OurUtility.Write_Log("==== 1. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
        //OurUtility.Write_Log("==== 2. Card_Dispenser.Start", "step-action");
        if (!cds.Start(ref errorcode, strCOM, ref msg))
        {
            //OurUtility.Write_Log("==== 3. Card_Dispenser.Start, Failed", "step-action");
            return;
        }
        //OurUtility.Write_Log("==== 3. Card_Dispenser.Initialize", "step-action");
        cds.Initialize(ref errorcode, ref msg);
        //OurUtility.Write_Log("==== 4. Card_Dispenser.MoveTo_Front_Hold", "step-action");
        if (!cds.MoveTo_The_Front(ref errorcode, ref msg))
        {
            trans.AddTrail("MOVE TO FRONT", "", "01");
            //OurUtility.Write_Log("==== 5. Card_Dispenser.MoveToTheFront, Failed", "step-action");
            return;
        }
        //trans.AddTrail("MOVE TO FRONT", "", "00");
        stock = stock - 1;
        config.Write("Dispenser", Config.PARAM_STOCK_DISPENSER_1, stock.ToString());
        //OurUtility.Write_Log("==== 5. Card_Dispenser.Stop", "step-action");
        cds.Stop(ref msg);
    }

    private IntPtr hContext = IntPtr.Zero;
    byte[] pbPcid;
    byte[] pbConf;
    private bool IsFail = false;
    private bool IsNext = false;
    private bool isFPNoData = false;
    private bool IsSuccess = false;

    private async Task CheckEKTP()
    {
        if (config.ektpType == "a")
        {
            await ScanKTP();
        }
        else if (config.ektpType == "c")
        {
            await ScanEKTPC();
        }else
        {

        }
    }
    private async Task CheckFinger()
    {
        if (config.ektpType == "a")
        {
            await ScanKTP();
        }
        else if (config.ektpType == "c")
        {
            await ScanEKTPC();
        }
        else
        {

        }
    }
    private CRT_Interface ektpC = new CRT_Interface();
    public string PCID = string.Empty;
    public string CONF = string.Empty;

    private async Task ScanEKTPC()
    {
        int r = -999;
        string errMsg =string.Empty;
        Switcher.DOWN("500", config.usbEKTP);
        await Task.Delay(500);
        Switcher.UP("3000", config.usbEKTP);
        await Task.Delay(3000);
        UInt16 rf = 0;
        UInt16 sam = 1;
        if(true)
        {
            r = ektpC.StartEKTP(PCID, CONF,rf,sam);
            if(r!=0)
            {
                if (r > 0 && r < 10)
                    errMsg = "EKTP - 00" + r.ToString();
                else
                    errMsg = "EKTP - 0" + r.ToString();

                trans.AddTrail("SCAN EKTP", "EKTP - "+errMsg, "01");
                OurUtility.Write_Log("===== EKTP ERROR - "+errMsg, "step-action");
                IsLoading = false;
            }
            else
            {
                byte[] demoGraphic = new byte[ektpC.ektpData.biolen];
                for (int i = 0; i < ektpC.ektpData.biolen; i++)
                {
                    demoGraphic[i] = ektpC.ektpData.byteBio[i];
                }
                OurUtility.Write_Log("===== Ektp_Sdk.ReadDemographic Success", "step-action");

                ktp.demographic = demoGraphic;

            }
        }
    }
    private async Task ScanKTP()
    {
        OurUtility.Write_Log("==== Switcher.UP_eKTP", "step-action");

        if (true)
        {
            Ektp_Sdk.Instantiate();

            OurUtility.Write_Log("==== Scan e-KTP", "step-action");
            OurUtility.Write_Log("===== Ektp_Sdk.EktpCstablishContext eKTP", "step-action");
            if (Ektp_Sdk.EktpEstablishContext(ref hContext) == 0)
            {
                OurUtility.Write_Log("===== Ektp_Sdk.EktpSetAttrib PCID eKTP", "step-action");
                Ektp_Sdk.EktpSetAttrib(hContext, Ektp_Sdk.EKTP_ATTR_PCID, pbPcid, pbPcid.Length);
                OurUtility.Write_Log("===== Ektp_Sdk.EktpSetAttrib CONF eKTP", "step-action");
                Ektp_Sdk.EktpSetAttrib(hContext, Ektp_Sdk.EKTP_ATTR_CONFIG, pbConf, pbConf.Length);
            }
            OurUtility.Write_Log("===== Ektp_Sdk.EktpConnect", "step-action");
            await Task.Run(() => Ektp_Sdk.EktpConnect(ref hContext, pbPcid, 16, pbConf, 32));

            int length = 2048;
            byte[] tempBuffer = new byte[length];
            int ret = -1;
            OurUtility.Write_Log("===== Ektp_Sdk.ReadDemographic From eKTP", "step-action");
            ret = await Task.Run(() => Ektp_Sdk.ReadDemographic(hContext, ref length, tempBuffer)).ConfigureAwait(false);
            if (length == 0 || ret != 0)
            {
                OurUtility.Write_Log("===== Ektp_Sdk.ReadDemographic Failed", "step-action");
                IsLoading = false;

                return;
            }
            byte[] demoGraphic = new byte[length];
            for (int i = 0; i < length; i++)
            {
                demoGraphic[i] = tempBuffer[i];
            }
            OurUtility.Write_Log("===== Ektp_Sdk.ReadDemographic Success", "step-action");
            //Switcher.DOWN("500", config.usbEKTP);
            //await Task.Delay(500);
            //Switcher.UP("3000", config.usbEKTP);
            //await Task.Delay(3000);
            ktp.demographic = demoGraphic;
            IsVisible = false;
            IsNext = true;

            if (IsNext)
            {
                int leftLen = 2048, rightLen = 2048;//max size is photo size(about 1700 bytes)
                byte[] leftData = new byte[leftLen];
                byte[] rightData = new byte[rightLen];

                if (true)
                {
                    OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints Old Card", "step-action");
                    ret = await Task.Run(() => Ektp_Sdk.ReadFingerPrints(hContext, ref leftLen, leftData, ref rightLen, rightData)).ConfigureAwait(true);
                    if (ret != 0 || leftLen == 0 || rightLen == 0)
                    {
                        isFPNoData = true;
                        fptest += 1;
                        return;
                    }
                    else if (ret == 0)
                    {
                        ktp.minutiae1 = leftData;
                        ktp.minutiae2 = rightData;
                        ktp.minu1len = leftLen;
                        ktp.minu2len = rightLen;

                        OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints Old Card Success", "step-action");

                        IsLoading = false;
                        IsSuccess = true;
                        return;
                    }
                    //Timer.SetTimer(1000);
                    //Timer.OnElapsed += TimerElapsedHandler;
                }
                else
                {
                    IsLoading = false;
                    IsSuccess = false;

                    return;
                }
            }
        }
    }
    private async Task FP2()
    {
        isFPNoData = false;
        IsLoading = true;
        int ret = -1;
        int leftLen = 2048, rightLen = 2048;//max size is photo size(about 1700 bytes)
        byte[] leftData = new byte[leftLen];
        byte[] rightData = new byte[rightLen];

        OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints New Card", "step-action");
        ret = await Task.Run(() => Ektp_Sdk.ReadFingerPrints(hContext, ref leftLen, leftData, ref rightLen, rightData)).ConfigureAwait(true);
        if (ret != 0 || leftLen == 0 || rightLen == 0)
        {
            OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints Failed", "step-action");
            fptest += 1;
            if(fptest<3)
            {
                IsLoading = false;
                isFPNoData = true;
            }
            return;
        }
        else if (ret == 0)
        {
            ktp.minutiae1 = leftData;
            ktp.minutiae2 = rightData;
            ktp.minu1len = leftLen;
            ktp.minu2len = rightLen;

            OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints New Card Success", "step-action");

            IsLoading = false;
            IsSuccess = true;
            return;
        }
    }
    private async Task FingerPrintAratek()
    {
        try
        {
            TrustFingerManager.GlobalInitialize();
        }
        catch
        {
            return;
        }
        await Task.Run(() => ektpCRT.FPReader());
        await Task.Run(() => ektpCRT.StartCaptureFingerprint());
        while (!ektpCRT.isCaptured)
        {
            Task.Delay(500);
        }
    }
    private async Task FingerPrintScan()
    {
        //ektp.InitializeEktp();
        IsLoading = true;
        OurUtility.Write_Log("==== Scan FingerPrint", "step-action");
        OurUtility.Write_Log("===== Ektp_Sdk.EktpConnect", "step-action");
        await Task.Run(() => Ektp_Sdk.EktpConnect(ref hContext, pbPcid, 16, pbConf, 32));

        OurUtility.Write_Log("===== Ektp_Sdk.OpenFingerPrintReader", "step-action");

        // -- Step 2, Open Device Fingerprint
        IntPtr reader = IntPtr.Zero;
        int result = -1;
        result = await Task.Run(() => Ektp_Sdk.OpenFingerPrintReader(ref reader, "uareu")).ConfigureAwait(false);
        if (reader == IntPtr.Zero)
        {
            OurUtility.Write_Log("===== Ektp_Sdk.OpenFingerPrintReader Failed", "step-action");

            //Switcher.DOWN_eKTP(config_MyGraPARI.Read("MyGraPARI", Config.PARAM_DELAY_USB_DOWN));
        }
        else
        {
            OurUtility.Write_Log("===== Ektp_Sdk.OpenFingerPrintReader Success", "step-action");
            OurUtility.Write_Log("===== Ektp_Sdk.StartEngine", "step-action");

            IntPtr engine = IntPtr.Zero;
            int engineType = 0;//engineType = 0, it means that finger print engine is uareu
            result = await Task.Run(() => Ektp_Sdk.StartEngine(engineType, ref engine)).ConfigureAwait(false);
            if (engine == IntPtr.Zero)
            {
                OurUtility.Write_Log("===== Ektp_Sdk.StartEngine Failed", "step-action");
            }
            else
            {
                OurUtility.Write_Log("===== Ektp_Sdk.StartEngine Success", "step-action");

                int size = 120000;
                int score = -1;
                byte[] image = new byte[size];
                result = await Task.Run(() => Ektp_Sdk.CaptureFingerPrint(reader, image, ref size, ref score)).ConfigureAwait(false);
                if (result != 0)
                {
                    OurUtility.Write_Log("===== Ektp_Sdk.CaptureFingerPrint Failed", "step-action");
                    //break;
                }
                else
                {

                    OurUtility.Write_Log("===== Ektp_Sdk.ReadFingerPrints Success", "step-action");
                    // -- Step 5, Compare

                    int matched = 0;//matched == 1, it means finger print matched
                    int format = 0;//format == 0, it means finger print template type is ISO

                    //matched right finger
                    result = await Task.Run(() => Ektp_Sdk.MatchFingerPrint(engine, image, size,
                                                    ktp.minutiae2, ktp.minu2len,
                                                    ref score, ref matched, format)).ConfigureAwait(false);

                    if (matched == 1)
                    {
                        //break;
                        trans.AddTrail("FINGERPRINT", "MATCH", "00");
                        IsLoading = false;

                        OurUtility.Write_Log("===== Ektp_Sdk.CloseReader", "step-action");
                        result = Ektp_Sdk.CloseReader(reader);
                    }
                    else
                    {
                        result = await Task.Run(() => Ektp_Sdk.MatchFingerPrint(engine, image, size,
                                                        ktp.minutiae1, ktp.minu1len,
                                                        ref score, ref matched, format)).ConfigureAwait(false);
                        if (matched == 1)
                        {
                            trans.AddTrail("FINGERPRINT", "MATCH", "00");
                            IsLoading = false;

                            OurUtility.Write_Log("===== Ektp_Sdk.CloseReader", "step-action");
                            result = Ektp_Sdk.CloseReader(reader);

                            //OurUtility.Write_Log("=== Switcher.DOWN_eKTP", "step-action");
                            //Switcher.DOWN("500",config.usbEKTP);

                            //break;
                        }
                        else
                        {
                            trans.AddTrail("FINGERPRINT", "NOT-MATCH", "01");

                            OurUtility.Write_Log("===== Ektp_Sdk.CloseReader", "step-action");
                            result = Ektp_Sdk.CloseReader(reader);

                        }
                    }
                }
            }
        }
    }
    [Microsoft.JSInterop.JSInvokable]

    public void theIdleTimeoutFired()
    {
        if (timer)
        {
            timer = false;
            //NavMan.NavigateTo(" ");
        }
    }
    int c1 = 60;

    private static System.Timers.Timer aTimer;
    void tt()
    {
        if (aTimer is null)
        {
            aTimer = new System.Timers.Timer(1000);
            aTimer.Elapsed += (sender, args) => { c1 = c1 < 2 ? 60 : c1 - 1; Console.WriteLine(c1);  InvokeAsync(StateHasChanged); };
            aTimer.AutoReset = true;
            aTimer.Enabled = true;
        }
        else
        {
            aTimer.Stop();
            aTimer.Dispose();
            aTimer = null;
        }
    }
    private async Task TestAll()
    {

    }

    private async Task PrintEDCPay()
    {
        string msg = string.Empty;
        string logoTsel = System.IO.Directory.GetCurrentDirectory() + @"\wwwroot\assets\image\Logo\Logo_MyGraPARI_mini.png";

        Printer.PrintEDCPay(trans,cst,config,logoTsel,ref msg);
    }

    private async Task PrintEDCVoid()
    {
        string msg = string.Empty;
        string logoTsel = System.IO.Directory.GetCurrentDirectory() + @"\wwwroot\assets\image\Logo\Logo_MyGraPARI_mini.png";

        Printer.PrintEDCVoid(trans, cst, config, logoTsel, ref msg);
    }
    private async Task PrintStruk()
    {
        string msg = string.Empty;
        string logoTsel = System.IO.Directory.GetCurrentDirectory() + @"\wwwroot\assets\image\Logo\Logo_MyGraPARI_mini.png";

        cst.PhoneNumber = "628119153366";
        Printer.PrintHalo(trans, cst, config, logoTsel, ref msg);
    }

}