@page "/PSB/1b"

@using MyG5Blazor.Data
@using System.Linq;

@inject IJSRuntime JSRuntime
@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config
@inject Menu menu

<div class="main-panel bg-home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="logo">
                    <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <p class="teks-title2">Berlangganan KartuHalo</p>
                <div class="teks-top3" style="line-height: 3rem;">
                    <p>Masukkan Alamat Email Anda yang Aktif</p> <br>
                    <p><b class="teks-bold"> Hindari </b>Penggunaan Email:</p>
                    <li>Yahoo.com</li>
                    <li>Yahoo.co.id</li>
                    <li>Ymail.com</li>
                    <li>Rocketmail.com</li>
                </div>
            </div>

            <div class="col-md-6" style="text-align: center;">
                <div class="text-primary">
                    <input type="text" name="number" class="num-field-email" @bind="inputEmail">
                </div>

                <div class="num-button2" style="margin-top: 5%;">
                    <button class="key-num2 btn" value="1" @onclick="@(() => InsertCharField("1"))">1</button>
                    <button class="key-num2 btn" value="2" @onclick="@(() => InsertCharField("2"))">2</button>
                    <button class="key-num2 btn" value="3" @onclick="@(() => InsertCharField("3"))">3</button>
                    <button class="key-num2 btn" value="4" @onclick="@(() => InsertCharField("4"))">4</button>
                    <button class="key-num2 btn" value="5" @onclick="@(() => InsertCharField("5"))">5</button>
                    <button class="key-num2 btn" value="6" @onclick="@(() => InsertCharField("6"))">6</button>
                    <button class="key-num2 btn" value="7" @onclick="@(() => InsertCharField("7"))">7</button>
                    <button class="key-num2 btn" value="8" @onclick="@(() => InsertCharField("8"))">8</button>
                    <button class="key-num2 btn" value="9" @onclick="@(() => InsertCharField("9"))">9</button>
                    <button class="key-num2 btn" value="0" @onclick="@(() => InsertCharField("0"))">0</button>

                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("q"))">Q</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("w"))">W</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("e"))">E</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("r"))">R</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("t"))">T</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("y"))">Y</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("u"))">U</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("i"))">I</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("o"))">O</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("p"))">P</b></button>

                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("a"))">A</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("s"))">S</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("d"))">D</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("f"))">F</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("g"))">G</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("h"))">H</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("j"))">J</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("k"))">K</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("l"))">L</b></button><br>

                    <button class="key-num3 btn" style="opacity:0%;" disabled><b class="teks-bold"></b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("z"))">Z</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("x"))">X</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("c"))">C</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("v"))">V</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("b"))">B</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("n"))">N</b></button>
                    <button class="key-num2 btn"><b class="teks-bold" @onclick="@(() => InsertCharField("m"))">M</b></button>
                    <button class="key-num4 btn"><b class="teks-bold" @onclick="DeleteCharField">HAPUS</b></button>

                    <button class="key-num2 btn" value="1" @onclick="@(() => InsertCharField("@"))"><b class="teks-bold">&#64</b></button>
                    <button class="key-num2 btn" value="3" @onclick="@(() => InsertCharField("_"))">_</button>
                    <button class="key-num2 btn" value="4" @onclick="@(() => InsertCharField("."))">.</button>
                    <button class="key-num6 btn" value="5" @onclick="@(() => InsertCharField(".com"))"><b class="teks-bold">.com</b></button>
                    <button class="key-num6 btn" value="6" @onclick="@(() => InsertCharField(".co.id"))"><b class="teks-bold">.co.id</b></button>
                </div>
                <button class="btn btn-danger btn-right3" id="myBtn1" style="margin-top: 7%;" @onclick="Lanjut">Lanjut</button>
            </div>
        </div>
    </div>

    <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
    <footer>
        <div class="footer-side1">
            <span class="dot2" id="dot-active">1</span>
            <span class="dot2">2</span>
            <span class="dot2">3</span>
            <span class="dot2">4</span>
            <span class="dot2">5</span>
            <span class="dot2">6</span>
            <span class="dot2">7</span>
            <span class="dot2">8</span>
            <span class="dot2">9</span>
        </div>
        <div class="footer-side2">
            <button @onclick="Back" class="btn-arrow btn" value="">Kembali</button>
            <button @onclick="MainMenu" class="btn-arrow btn" value="">Menu Utama</button>
            <!-- <sup>Powered By </sup>Trilogi Persada -->
        </div>
    </footer>
</div>
@if (isTimeOut)
{
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body"><span style="font-weight: bold;">Sesi Anda akan segera berakhir.</span><br />Anda akan keluar dari sistem dalam <span style="font-weight: bold;"></span> detik.</p>
                    <button class="btn btn-danger modal-button">OK</button>
                    <!-- <button class="btn btn-light modal-button">Tidak</button> -->
                </div>
            </div>
        </div>

    </div>
}
@if (isForbidden)
{
<div id="gagal-3x" class="modal">
    <!-- Modal content -->
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-body2">
                    Maaf, email yang Anda masukkan tidak valid.<br>
                    Silakan masukkan alamat email lain.<br>
                    <b class="teks-bold">Hindari </b>penggunaan email yahoo.com, yahoo.co.id, ymail.com, dan rocketmail.com.
                </p>
                <button @onclick="(() => isForbidden = false)" class="btn btn-danger modal-button" id="span1">OK</button>
            </div>
        </div>
    </div>
</div>
}

@code
{
    private bool isTimeOut = false;
    private bool isSelected = false;

    private string inputEmail = string.Empty;

    private bool isForbidden = false;

    private string[] forbiddenDomain = { "yahoo.com", "yahoo.co.id", "ymail.com", "rocketmail.com" };
    protected override async Task OnInitializedAsync()
    {

    }
    private async Task Lanjut()
    {
        if (inputEmail.Contains("@"))
        {
            string domainEmail = inputEmail.Substring(inputEmail.IndexOf("@") + 1);
            if (domainEmail.Contains("."))
            {
                if (!CekEmail())
                {
                    isForbidden = true;
                }
                else
                {
                    trans.psbDetail.alamatEmail = inputEmail;
                    NavigateTo("/PSB/2a");
                }
            }
            else
            {
                isForbidden = true;
            }
        }
        else
        {
            isForbidden = true;
        }
    }
    private bool CekEmail()
    {
        string subEmail = inputEmail.Substring(inputEmail.IndexOf("@")+1);
        foreach(string fd in forbiddenDomain)
        {
            if (subEmail == fd)
                return false;
        }
        return true;
    }
    private void InsertCharField(string _input)
    {
        inputEmail += _input;
    }
    private void DeleteCharField()
    {
        if (inputEmail.Length > 0)
            inputEmail = inputEmail.Substring(0, inputEmail.Length - 1);
    }
    private void NavigateTo(string strURL)
    {
        NavMan.NavigateTo(strURL);
    }
    private async Task MainMenu()
    {
        trans.AddTrail("CHOOSE NOMINAL", "BACK TO MAIN MENU", "CANCELED BY USER");
        trans.status = "02";
        await OurUtility.AuditTrail(trans, menu, cst);
        NavMan.NavigateTo("/main");
    }
    private async Task Back()
    {
        NavMan.NavigateTo("/PSB/1a");
    }

    protected override void OnAfterRender(bool bFirstRender)
    {
        if (bFirstRender)
        {
        }
    }
}
