@page "/u4g/1"
@inject IJSRuntime JSRuntime;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Text;
@using System;
@using System.Threading.Tasks;
@using MyG5Blazor.Data

@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Config config 
<div class="main-panel bg-home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="logo">
                    <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
            </div>


            <form class="navbar-form">
            </form>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p class="teks-title">Upgrade dan Ganti Kartu 4G</p>
                    <div class="teks-top">
                        <p>Masukan Nomor yang akan Diganti Kartu SIM-nya</p> <br>
                        <p>Pastikan Anda sudah Menyiapkan e-KTP untuk Keperluan Validasi</p> <br>
                        <p>Pastikan Nomor Anda tidak Terdaftar pada Layanan Perbankan</p> <br>
                    </div>
                </div>

                <div class="col-md-6">
                    @if (strNumber == string.Empty)
                    {
                        <input type="text" name="number" placeholder="0811 1234 5678" class="num-field">
                    }
                    else
                    {
                        <input type="text" name="number" class="num-field" @bind="strNumber" />
                    }
                    <div class="num-button">
                        <button class="key-num btn" value="1" @onclick="@(() => InputPhoneNumber("1"))">1</button>
                        <button class="key-num btn" value="2" @onclick="@(() => InputPhoneNumber("2"))">2</button>
                        <button class="key-num btn" value="3" @onclick="@(() => InputPhoneNumber("3"))">3</button>
                        <button class="key-num btn" value="4" @onclick="@(() => InputPhoneNumber("4"))">4</button>
                        <button class="key-num btn" value="5" @onclick="@(() => InputPhoneNumber("5"))">5</button>
                        <button class="key-num btn" value="6" @onclick="@(() => InputPhoneNumber("6"))">6</button>
                        <button class="key-num btn" value="7" @onclick="@(() => InputPhoneNumber("7"))">7</button>
                        <button class="key-num btn" value="8" @onclick="@(() => InputPhoneNumber("8"))">8</button>
                        <button class="key-num btn" value="9" @onclick="@(() => InputPhoneNumber("9"))">9</button>
                        <button class="key-num btn btn-hapus" value="Hapus" @onclick="RemovePhoneNumber">Hapus</button>
                        <button class="key-num btn" value="0" id="myBtnUndefine" @onclick="@(() => InputPhoneNumber("0"))">0</button>
                        <button class="key-num btn btn-hapus" id="myBtn" value="ok" @onclick="@(()=>OkOnClick(true))">Ok</button>
                    </div>
                    <div class="button-down">
                        <!-- <button class="btn-arrow" value="">Kembali</button>
                        <button class="btn-arrow" value="">Menu Utama</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
</div>

<footer>
    <div class="footer-side1">
        <span class="dot" id="dot-active">1</span>
        <span class="dot">2</span>
        <span class="dot">3</span>
        <span class="dot">4</span>
    </div>
    <div class="footer-side2">
        <button @onclick="@(()=>NavigateTo(""))" class="btn-arrow btn" value="">Kembali</button>
        <button @onclick="@(()=>NavigateTo(""))" class="btn-arrow btn" value="">Menu Utama</button>
        <!-- <sup>Powered By </sup>Trilogi Persada -->
    </div>
</footer>

<!-- The Modal -->
@if (IsVisible)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">Anda akan melakukan <span style="font-weight: bold;">Ganti Kartu dan Upgrade 4G</span> untuk nomor :</p>
                    <p style="font-size: 25pt; font-weight: bold;">@strNumber</p>
                    <button @onclick="@(()=>CheckNumber("/u4g/2"))" class="btn btn-danger modal-button">Lanjut</button>
                    <button class="btn btn-light modal-button" @onclick="@(() => OkOnClick(false))">Batal</button>
                </div>
            </div>
        </div>
    </div>
}

@if (IsInvalid)
{
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-body">@((MarkupString)strMsgError)</p>
                    <button class="btn btn-danger modal-button" @onclick="@(() => OkOnClick(false))">OK</button>
                </div>
            </div>
        </div>
    </div>
}
@if (IsLoading)
{
    <div id="myModal" class="modal">
        <div class="modal-blank">
            <img class="lds-spinner" src="../../assets/image/loader.gif">
            <p><br>Mohon tunggu</p>
            <p>proses sedang berlangsung...</p>
        </div>
    </div>
}

@code{
    private string strNumber = string.Empty;
    private bool IsVisible = false;
    private bool IsInvalid = false;
    private bool IsMobileBanking = false;
    private bool IsValid => !IsInvalid && !IsMobileBanking;
    private bool IsLoading = false;

    //public string _myURL = "https://mygrapari.telkomsel.co.id/trilogi/";
    public string _myURL = string.Empty;
    public string serviceURL = "mygrapari/upgrade-4g/v1/submit-nohp";
    public string saveURL = "mygrapari/log/v1/save";
    private string _termID = string.Empty;
    private string strMsgError = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        _myURL = config.Read("URL", Config.PARAM_DEFAULT_URL);
        OurUtility.Write_Log("= Upgrade dan Ganti Kartu 4G", "step-action");
        OurUtility.Write_Log("== Step 1. Insert Phone Number Page", "step-action");
    }

    private void OkOnClick(bool visiblestatus)
    {
        if (visiblestatus)
        {
            if (strNumber.Length > 8 && strNumber.Length < 14)
            {
                IsVisible = visiblestatus;
            }
        }
        else
        {
            IsVisible = visiblestatus;
            IsInvalid = visiblestatus;
            IsMobileBanking = visiblestatus;
        }
    }

    private void InputPhoneNumber(string strInput)
    {
        strNumber += strInput;
    }

    private void RemovePhoneNumber()
    {
        if (strNumber.Length > 0)
            strNumber = strNumber.Substring(0, strNumber.Length - 1);
    }

    private void NavigateTo(string strURL)
    {
        if (strURL != "")
        {
            OurUtility.Write_Log("=== Get Phone Number", "step-action");
            cst.PhoneNumber = "62" + strNumber.Substring(1);
        }
        NavMan.NavigateTo(strURL);
    }
    public static async Task<string> PostCallAPI(string url, string jsonString)
    {
        string ret = string.Empty;
        try
        {
            using (var handler = new HttpClientHandler())
            {
                handler.ServerCertificateCustomValidationCallback = (message, cert, chain, errors) => { return true; };
                using (HttpClient client = new HttpClient(handler))
                {
                    var content = new StringContent(jsonString, Encoding.UTF8, "application/json");
                    var response = await client.PostAsync(url, content);
                    if (response != null)
                    {
                        if (response.IsSuccessStatusCode || response.StatusCode.ToString() == "BadRequest" || response.StatusCode.ToString() == "InternalServerError")
                        {
                            Console.WriteLine(response.StatusCode.ToString());
                            var jsonStringResult = await response.Content.ReadAsStringAsync();
                            return jsonStringResult;
                        }
                        else
                        {
                            return response.StatusCode.ToString();
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            OurUtility.Write_Log("==" + ex.Message, "step-action");
        }
        return ret;
    }
    private async Task CheckNumber(string strURL)
    {
        trans.startTime = DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();
        IsLoading = true;
        byte[] image = OurUtility.CaptureImage();
        var imageBytesStr = Convert.ToBase64String(image);

        string myJson = "{ \"terminalId\" : \"" + trans.termID + "\"," +
                            "\"noHp\" : \"" + "62" + strNumber.Substring(1) + "\"," +
                            "\"image\" : \"" + imageBytesStr + "\"" +
                            "}";
        string myURL = _myURL + serviceURL;

        OurUtility.Write_Log("== Check Phone Number", "step-action");
        OurUtility.Write_Log("== Request API : " + myJson, "step-action");
        string strResult = await PostCallAPI(myURL, myJson);
        OurUtility.Write_Log("== Response API : " + strResult, "step-action");
        if (strResult != null)
        {
            try
            {
                JObject jobjResult = JObject.Parse(strResult);
                if ((string)jobjResult["transaction"]["statusCode"] == "00")
                {
                    OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"]["statusCode"] + " {Success}", "step-action");
                    trans.SetTransaction((string)jobjResult["transaction"]["transactionId"]);
                    cst.CostumerProfile((string)jobjResult["profile"]["type"], (string)jobjResult["profile"]["nama"], (string)jobjResult["profile"]["noHp"], (string)jobjResult["profile"]["idType"], (string)jobjResult["profile"]["idNumber"]);
                    OurUtility.Write_Log("== Transaction ID : " + trans.transID + ", Phone Number : " + cst.PhoneNumber + " {Success}", "step-action");
                    trans.AddTrail("SUBMIT NO HP", cst.PhoneNumber, "SUCCESS");
                    NavMan.NavigateTo(strURL);
                }
                else if ((string)jobjResult["transaction"]["statusCode"] == "01")
                {
                    if ((string)jobjResult["transaction"]["errorCode"] != null)
                    {
                        OurUtility.Write_Log("== Status Code : " + (string)jobjResult["transaction"]["statusDesc"] + " {Error}", "step-action");
                        trans.errorCode = (string)jobjResult["transaction"]["statusDesc"];
                    }
                    else
                    {
                        string _statusDescSub = ((string)jobjResult["transaction"]["statusDesc"]);
                        string statusDescSub = _statusDescSub.Substring(0, _statusDescSub.IndexOf(":"));
                        OurUtility.Write_Log("== Status Code : " + statusDescSub + " {Error}", "step-action");
                        trans.errorCode = statusDescSub;
                    }
                    trans.endTime = DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();
                    trans.AddTrail("SUBMIT NO HP", cst.PhoneNumber, "FAILED");
                    trans.status = "GAGAL";
                    await AuditTrail();
                    //                    IsLoading = false;
                    //                  IsVisible = false;
                    //                IsInvalid = true;
                    NavMan.NavigateTo("/error");
                }
                else if ((string)jobjResult["transaction"]["statusCode"] == "02")
                {
                    strMsgError = (string)jobjResult["transaction"]["statusDesc"];
                    IsLoading = false;
                    IsVisible = false;
                    IsInvalid = true;
                }
            }
            catch (Exception ex)
            {
                trans.errorCode = strResult;
                OurUtility.Write_Log("== Error :" + ex.Message, "step-action");
                NavMan.NavigateTo("/error");
            }
        }
        else
        {
            trans.errorCode = strResult;
            OurUtility.Write_Log("== Error : Hit WebService {Error}", "step-action");
            NavMan.NavigateTo("/error");
        }
    }
    private async Task AuditTrail()
    {
        string auditTrail = string.Empty;
        int stepTrail = 1;
        foreach (dynamic at in trans._auditTrail)
        {
            auditTrail = "[ " +
                "{ \"step\" : \"" + stepTrail + "\"," +
                "\"action\" : \"" + at._action + "\"," +
                "\"data\" : \"" + at._data + "\"," +
                "\"result\" : \"" + at._result + "\"" +
                "}" +
                "],";
            stepTrail += 1;
        }
        auditTrail = auditTrail.Remove(auditTrail.Length - 1);

        string myJson2 = "{ \"transaction\" : " +
            "{ \"transactionId\" : \"" + trans.transID + "\"," +
            "\"terminalId\" : \"" + trans.termID + "\"," +
            "\"transactionType\" : \"" + trans.jenisTrans + "\"," +
                "\"noHp\" : \"" + cst.PhoneNumber + "\"," +
                "\"startTime\" : \"" + trans.startTime.ToString() + "\"," +
                "\"endTime\" : \"" + trans.endTime.ToString() + "\"," +
                "\"status\" : \"" + trans.status + "\"," +
                "\"description\" : \"" + trans.errorCode + "\"" +
                "}, \"auditTrail\" : " + auditTrail + "}";
        string myURL2 = _myURL + saveURL;

        string strResult2 = await PostCallAPI(myURL2, myJson2);
    }
    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.JSInterop.IJSRuntime theJavaScriptEngine { get; set; }

    [Microsoft.AspNetCore.Components.Inject]

    protected Microsoft.AspNetCore.Components.NavigationManager theNavigationManager { get; set; }

    private bool timer = false;
    protected override void OnAfterRender(bool bFirstRender)
    {
        if (bFirstRender)
        {
            timer = true;
            theJavaScriptEngine.InvokeAsync<System.Object>("setupUserIdleTimer", new object[] { Microsoft.JSInterop.DotNetObjectReference.Create(this), 60000, true });

            this.StateHasChanged();
        }
    }

    [Microsoft.JSInterop.JSInvokable]

    public void theIdleTimeoutFired()
    {
        if (timer)
        {
            timer = false;
            NavMan.NavigateTo(" ");
        }
    }
}