@page "/bth/3"

@using MyG5Blazor.Data 

@inject IJSRuntime JSRuntime
@inject Costumer cst
@inject NavigationManager NavMan
@inject Transaction trans
@inject Menu menu

    <div class="main-panel bg-home">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="logo">
                        <img src="../../assets/image/Logo/Logo_MyGraPARI.png" />
                    </div>
                    <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="teks-title">Bayar Tagihan KartuHalo</div>
                        @if (!IsLanjut)
                        {
                            <div id="konfirmasi-teks" class="teks-status-halo">
                                Pada nomor <b class="teks-bold"> @cst.PhoneNumber</b> terbaca
                                memiliki tagihan sebesar <b class="teks-bold">Rp @cst.intTagihan.ToString("N0").</b>
                                dengan rincian sebagai berikut:
                            </div>
                            <div id="list-tagihan" class="teks-footer-halo">
                                @foreach (dynamic t in cst.GetlistTagihan)
                                {
                                    <li>@t._intTagihan.ToString("N0")</li>
                                }
                            </div>
                        }
                        else
                        {
                            if (cst.intMPembayaran == 2)
                            {
                                <div id="teks-konfirmasi">
                                    <div class="teks-status"> Konfirmasi Pembayaran Tagihan KartuHalo </div>
                                </div>
                                <div id="bayar1">
                                    <div class="teks-center" style="text-transform: uppercase; font-weight: bold;">Bayar Dengan Uang Pas, Mesin <br> Ini tidak mengeluarkan kembalian</div>
                                </div>
                                <div id="info">
                                    <div class="teks-footer2" style="font-weight: bold;">NILAI DARI KELEBIHAN PEMBAYARAN SECARA OTOMATIS AKAN MENGURANGI TAGIHAN KARTUHALO ANDA DI BULAN BERIKUTNYA.</div>
                                </div>
                            }
                            else
                            {
                                <div id="konfirmasi-teks" class="teks-center"> Konfirmasi Pembayaran Tagihan KartuHalo</div>
                            }
                        }
                    </div>

                    <div class="col-md-6">
                        @if (!IsLanjut)
                        {
                            <div id="btn-lanjut" class="teks-nominal"> Tekan <b class="teks-bold">LANJUT</b> Untuk Melanjutkan
                                <button class="btn btn-danger btn-right" @onclick="@(() => IsLanjut = true)" id="btn-ok" value="">Lanjut</button>
                            </div>
                        }
                        else
                        {
                        <div class="teks-nominal">
                            <table id="tabel">
                                <tr>
                                    <td>Nomor</td>
                                    <td> &emsp;&emsp; : </td>
                                    <td>&emsp;<span style="font-weight: bold;">@cst.PhoneNumber</span></td>
                                </tr>
                                <tr>
                                    <td>Nominal</td>
                                    <td>&emsp;&emsp; : </td>
                                    <td>&emsp;<span style="font-weight: bold;">Rp @cst.intTagihan.ToString("N0")</span></td>
                                </tr>
                                <tr>
                                    <td>Metode Bayar</td>
                                    <td>&emsp;&emsp; : </td>
                                    <td>&emsp;<span style="font-weight: bold;">@cst.strMPembayaran</span></td>
                                </tr>
                            </table>
                            <button class="btn btn-danger btn-right" @onclick="@(() => NavigateTo("/bth/4"))" id="btn-ok" value="">OK</button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
        <footer>
            <div class="footer-side1">
                <span class="dot">1</span>
                <span class="dot">2</span>
                <span class="dot" id="dot-active">3</span>
                <span class="dot">4</span>
            </div>
            <div class="footer-side2">
                
                    <button @onclick="@(() => NavigateTo("/bth/2"))" class="btn-arrow btn" value="">Kembali</button>
                
                <button @onclick="MainMenu" class="btn-arrow btn" value="">Menu<br>Utama</button>
                <!-- <sup>Powered By </sup>Trilogi Persada -->
            </div>
        </footer>
    </div>

@code
{
    private bool IsLanjut = false;
    private int intTotalTagihan = 0;
    private string strTotalTagihan => intTotalTagihan.ToString();
    protected override async Task OnInitializedAsync()
    {
        //TotalTagihan();
    }

    private void buttonOk()
    {
        IsLanjut = !IsLanjut;
    }

    private void Nominal(int intNominal)
    {
        cst.intTagihan = intNominal;
    }

    private void TotalTagihan()
    {
        foreach (dynamic t in cst.GetlistTagihan)
        {
            intTotalTagihan += t._intTagihan;
        }
        cst.intTagihan = intTotalTagihan;
    }
    private async Task MainMenu()
    {
        trans.AddTrail("GET BILL", "BACK TO MAIN MENU", "CANCELED BY USER");
        trans.status = "GAGAL";
        await OurUtility.AuditTrail(trans, menu, cst);
        NavMan.NavigateTo("/main");
    }
        private void NavigateTo(string strURL)
        {
            NavMan.NavigateTo(strURL);
        }
}